body{
  background: linear-gradient(to top, #639ec9, #9bc5e4);
}

#scene{
  position: fixed;
  left: -50%;
  top: 0px;
  bottom: -10%;
  right: -50%;
}

.layer{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

#info{
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
  max-width: 900px;
  margin: 35px auto;
  max-height: calc(100% - 70px);
  background-color: rgba(255,255,255,.7);
  overflow: auto;
}

#name{
  text-align: center;
  width: 100%;
}

#col1, #col2{
  width: 40%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
}
